.side-radius(@direction, @radius) {
  @if(@direction == left) {
    border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;
  } @else if(@direction == right) {
    border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
  } @else if(@direction == top) {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
  } @else if(@direction == bottom) {
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
  }
}
